body{
    background-color: black;
    text-align:center;
    color:white;
    font-family: 'Handlee', cursive;
}

/*button{
    background-color: #008CBA;
    color: white;
    padding: 14px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 12px;
    font-size: 20px;
}*/
.button {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: 'Handlee', cursive;
}
.button1 {
    background-color: white; 
    color: black; 
    border: 2px solid red;
}
.button1:hover {
    background-color: red;
    color: white;
}
.button2 {
    background-color: white; 
    color: black; 
    border: 2px solid red;
}
.button2:hover {
    background-color: red;
    color: white;
}
.button3 {
    background-color: white; 
    color: black; 
    border: 2px solid red;
}
.button3:hover {
    background-color: red;
    color: white;
}
.button4 {
    background-color: white; 
    color: black; 
    border: 2px solid red;
}
.button4:hover {
    background-color: red;
    color: white;
}